.navlink:link {
  text-decoration: none;
}

.navlink-active .nav-item {
  border-bottom: 3px solid red;
}

.nav-item:hover {
  border-bottom: 3px solid red;
  color: red;
}

.nav-item {
  text-decoration-color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}
